body{

font-family:Arial;

margin:0;

background:#EFF6FF;

}

header{

background:linear-gradient(
135deg,
#0F172A,
#2563EB
);

color:white;

padding:60px;

text-align:center;

}

.profile{

width:180px;

height:180px;

border-radius:50%;

border:5px solid white;

}

.btn{

display:inline-block;

margin-top:20px;

padding:12px 20px;

background:white;

color:#2563EB;

text-decoration:none;

font-weight:bold;

border-radius:10px;

}

section{

padding:40px;

max-width:1000px;

margin:auto;

}

.card{

background:white;

padding:20px;

margin-bottom:20px;

border-radius:15px;

box-shadow:
0 4px 10px rgba(0,0,0,0.1);

}

.skills span{

display:inline-block;

background:#DBEAFE;

color:#1D4ED8;

padding:10px 15px;

margin:5px;

border-radius:25px;

}
